<div class="topnav">
            <nav class="navbar navbar-transparent bg-transparent">
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/about">About</a>
            <a class="navbar-brand" href="/posts/all_posts">Blog</a>
   
            <div class="user-box">
            <button type="button" class="btn btn-dark" id="new-post-btn">New Post</button><br>
            <button type="button" class="btn btn-secondary bg-danger" id="logout-btn">Logout</button>
            </div>
            </nav>
</div>


<div class="container">
<% @posts.each do |post| %>
  <h3 class="main-header">            <img src="images/gunshot.jpeg" class="nav-image" width="30" height="30" alt="">
<%= post.date %><%= post.title %></a></h3>
  <p class="content"><%= post.content %></p>
  <br>
<% end %>
</div>