.header {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  color: black;
  background: url('images/blood.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topnav {
  background-color: black;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.topnav a {
  color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: #474646;
  text-decoration: none;
}

.topnav a.active {
  color: green;
}
