.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url('splatter/blood.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#heading-one {
    font-family: 'Special Elite', cursive;
    font-size: 150px;
    color: red;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    overflow: hidden;
}

#heading-two {
    font-family: 'Special Elite', cursive;
    font-size: 150px;
    color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    overflow: hidden;
}

.sub-header {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: grey;
    margin-top: -50px;
    padding-top: 1px;
    border-top: 0px;
    display: flex;
    justify-content: center;
}

.login-header {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: grey;
    margin-top: 30px;
    padding-top: 1px;
    border-top: 0px;
    display: flex;
    justify-content: flex-start;
}

.nav-image {
    margin-top: 1px;
}

.topnav {
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 30px;
}

.topnav a {
    color: black;
    font-family: 'Special Elite', cursive;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    color: red;
    text-decoration: none;
}

.topnav a.active {
    color: grey;
}

.main-header {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    color: red;
}

.main-header a.hover {
    color: red;
}

.content {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 20px;
}

.nav-left {
    float: left;
}

.user-box {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.user-logged-in {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

#new-post-btn {
    margin-right: 15px;
}

#new-post-btn a.hover {
    background-color: red;
}

#logout-btn a.hover {
    background-color: red;
}

.display {
    display: flex;
    flex-direction: row;
}

.container {
    width: 900px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

.crime-forms {
    color: black;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: grey;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    color: white;
    padding-top: 25px;
}

.icons {
    margin-right: 25px;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Special Elite', cursive;
    font-size: 60px;
    color: black;
}

.welcome-message {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: grey;
}

.login-message {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: grey;
}

#signup-link {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: red;
}

#login-link {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: red;
}