<h2>Signup</h2>
<br>

  <form method="POST" action="/user/new">
    <label for="first_name">First name: </label>
    <input type="text" id="first_name" name="first_name"><br><br>
    <label for="last_name">Last name: </label>
    <input type="text" id="last_name" name="last_name"><br><br>
    <label for="email">Email: </label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Submit">
  </form>
