<h2>Create Post:</h2>
<form method="POST" action="/posts">
  <label for="title">Title: </label><br>
  <label for="date">Date: </label>
  <input id="today" type="date"><br>
  <input type="text" id="title" name="post[title]"><br><br>
  <label for="content">Post: </label><br>
  <textarea id="content" name="post[content]" style="width:350px;height:150px;"></textarea>